
.tabs1 {
    display: inline-block;
    margin-left: 63px;
}

.tabs2 {
    display: inline-block;
    margin-left: 75px;
}
.tabs3 {
    display: inline-block;
    margin-left: 65px;
}
.tabs4 {
    display: inline-block;
    margin-left: 100px;
}
.tabs5 {
    display: inline-block;
    margin-left: 100px;
}
.tabs6 {
    display: inline-block;
    margin-left: 25px;
}
.tabs7 {
    display: inline-block;
    margin-left: 60px;
}
.tabs8 {
    display: inline-block;
    margin-left: 50px;
}
.tabs9 {
    display: inline-block;
    margin-left: 35px;
}
.tabs10 {
    display: inline-block;
    margin-left: 50px;
}
.tabs11 {
    display: inline-block;
    margin-left: 50px;
}

