
.tabh1 {
    display: inline-block;
    margin-left: 63px;
}

.tabh2 {
    display: inline-block;
    margin-left: 75px;
}
.tabh3 {
    display: inline-block;
    margin-left: 66px;
}
.tabh4 {
    display: inline-block;
    margin-left: 92px;
}
.tabh5 {
    display: inline-block;
    margin-left: 102px;
}
.tabh6 {
    display: inline-block;
    margin-left: 55px;
}
.tabh7 {
    display: inline-block;
    margin-left: 45px;
}
.tabh8 {
    display: inline-block;
    margin-left: 50px;
}
.tabh9 {
    display: inline-block;
    margin-left: 35px;
}
.tabh10 {
    display: inline-block;
    margin-left: 100px;
}
.tabh11 {
    display: inline-block;
    margin-left: 50px;
}

