
.tabi1 {
    display: inline-block;
    margin-left: 63px;
}

.tabi2 {
    display: inline-block;
    margin-left: 87px;
}
.tabi3 {
    display: inline-block;
    margin-left: 82px;
}
.tabi4 {
    display: inline-block;
    margin-left: 85px;
}
.tabi5 {
    display: inline-block;
    margin-left: 115px;
}
.tabi6 {
    display: inline-block;
    margin-left: 110px;
}
.tabi7 {
    display: inline-block;
    margin-left: 62px;
}
.tabi8 {
    display: inline-block;
    margin-left: 70px;
}
.tabi9 {
    display: inline-block;
    margin-left: 59px;
}
.tabi10 {
    display: inline-block;
    margin-left: 50px;
}
.tabi11 {
    display: inline-block;
    margin-left: 50px;
}

