
.tabsw1 {
    display: inline-block;
    margin-left: 35px;
}

.tabsw2 {
    display: inline-block;
    margin-left: 50px;
}
.tabsw3 {
    display: inline-block;
    margin-left: 45px;
}
.tabsw4 {
    display: inline-block;
    margin-left: 55px;
}
.tabsw5 {
    display: inline-block;
    margin-left: 85px;
}
.tabsw6 {
    display: inline-block;
    margin-left: 45px;
}
.tabsw7 {
    display: inline-block;
    margin-left: 80px;
}
.tabsw8 {
    display: inline-block;
    margin-left: 55px;
}
.tabsw9 {
    display: inline-block;
    margin-left: 85px;
}
.tabsw10 {
    display: inline-block;
    margin-left: 45px;
}
.tabsw11 {
    display: inline-block;
    margin-left: 35px;
}

